 header nav {
     /*copiado da solução*/
     display: none;
 }

 header h1 {
     margin-left: 20px;
 }

 #topo {
     padding: 20px;
 }

 #conheca .container {
     /*copiado da solução*/
     flex-direction: column;
     align-items: center;
 }

 #conheca .container .texto {
     padding: 10px;
 }

 #conheca .container .texto a {
     width: 100%;
 }

 #convite form {
     /*copiado da solução*/
     display: block;
     text-align: center;
     width: 80%;
 }
